.modal__container_type_confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 670px;
  max-width: calc(100% - 32px);
  padding: 60px 28px 36px;
  box-sizing: border-box;
}

.modal__confirmation-text {
  margin: 0 0 40px;
  font-family: "Cabinet Grotesk Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #000;
}

.modal__confirm-delete {
  margin: 0 0 32px;
  padding: 0;
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ff4d00;
  cursor: pointer;
}

.modal__confirm-delete:hover {
  opacity: 0.8;
}

.modal__cancel-delete {
  padding: 0;
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  cursor: pointer;
}

.modal__cancel-delete:hover {
  opacity: 0.6;
}
