.sidebar {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 200px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
